

body{
background-image: url("./component/asset/rm218-bb-07.jpg");
background-size: cover;                  
background-repeat:   no-repeat;
}

.container{
  min-height: 100vh;
  
}
.problem-section{
  height: 23rem;
  overflow-y: scroll;
}

.login{
  background-color: rgba(0, 0, 0, 0.551);
  border-radius: 12px;
  width: 32rem;
  padding: 10px;
}

.outer{
  min-height: 90vh;
}